
.logo {
   height: 40px;
   margin-top: 17px;
   margin-right: auto;
}

.search_cont {
   top: 8px;
   right: 70px;
   width: 30rem;
   opacity: 0.6;
   cursor: pointer;
   font-size: 21px;
   font-weight: 400;
   position: relative;
   padding: 4px 60px;
   border-radius: 10px;
   background-color: lightcyan;
}

.search_icon {
   top: 2px;
   left: -46px;
   position: relative;
   font-weight: bold;
}

.search_text {
   top: -4px;
   color: black;
   font-weight: 500;
   margin-left: -40px;
   position: relative;
}

nav {
   top: 0;
   left: 0;
   right: 0;
   height: 60px;
   position: fixed;
   padding: 10px 28px;
   background: white;
   box-shadow: 0 8px 8px rgba(0,0,0,0.12);
   z-index: 1000;
}

nav ul {
   gap: 42px;
   top: -5px;
   margin: 0;
   padding: 0; 
   display: flex; 
   color: grey;    
   font-size: 22px;
   font-weight: 600;
   list-style: none;
   position: relative;
   align-items: center;
   justify-content: flex-end;
}

nav ul li {
   transition: transform 0.15s, color 0.15s;
}

nav ul li:hover {
   color: black;
   cursor: pointer;
   transform: scale(1.05);
}

.active-link {
   color: #0b5fff;
   display: flex;
   align-items: center;
   gap: 6px;
}

nav ul li a {
   color: inherit;
   display: flex;
   align-items: center;
   gap: 6px;
   position: relative;
   top: 8px;
   left: -60px;
   margin: 0; 
   font-size: 19px;
   font-style: courier, Arial;
} 

nav ul a {
   text-decoration: none;
}

.hover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #333;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  left: -10%;
  top: -20px;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: opacity 0.3s;
}

.hover-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}