
.conts {
   left: 15px;
   padding: 1px;
   height: 305px;
   color: black;
   margin-top: 20px;
   max-width: 1080px;
   position: relative;
   border-radius: 2px;
   border: 1px solid rgba(0,0,0,0.06);
   background-color: rgba(255,255,255,0.9); 
   box-shadow: 0 6px 18px rgba(0,0,0,0.08), 0 2px 6px rgba(0,0,0,0.04);
}

h1 {
    left: 20px;
    bottom: 0px;
    font-size: 26px;
    position: relative;
}

.img_ {
    width: 222px;
    height: 305px;
    position: absolute;
    margin-top: -308px;
    margin-left: 1115px;
}

.img1_cont {
    gap : 106px;
    display : flex;
    flex-wrap : wrap;
    margin-top : 35px;
    margin-left : 50px;
}

.img1_cont img {
    max-width: 130px;
    min-height: 135px;
}

.img_Txt {
    gap: 130px;
    top: -110px;
    right : 10px;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.img_Txt span {
    display: flex;
    color: gray;
    font-size: 19px;
    font-weight: bold;
}

  .Nxt_Btn {
    position: absolute;
    top: 50%;
    padding: 0;
    width: 38px;
    z-index: 10;
    border: none;
    height: 90px;
    display: flex;
    color: #999;
    cursor: pointer;
    margin-left: 997px;
    margin-right: -10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    opacity: 0.6;
    transform: translateY(-50%);
    transition: color 0.3s ease;
  }

  .Nxt_Btn:hover {
    opacity: 0.8;
    color: #333;
    background-color: lightgrey;
  }